.p-project {
	margin-top: 60px;
	
	@include mq(md) {
		margin-top: $space_3l;
	}
	
	&__ttl {
		margin-bottom: $space_l;
	}
	&__box {
		width: 32%;
		margin-right: $space_l;
		background: $color-base;
		padding: $space_xl;
		box-sizing: border-box;
		margin-bottom: $space_xxl;
		min-height: 170px;
		box-sizing: border-box;
		
		@include mq(md) {
			width: 100%;
			min-height: 150px;
			margin-right: inherit;
			margin-bottom: $space_l;
		}
		
		&:nth-of-type(3n) {
			margin-right: inherit;
		}
		
		&:hover {
			border: 2px solid $color-main;
			cursor: pointer;
		}
		
		&--border {
			box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
			border-radius: 20px;
		}
	}
}